<div>
    <h1>Конкурс на замещение вакантных должностей Satbayev University</h1>
<p>Лица, не являющиеся работниками ППС КазНИТУ, для участия в конкурсе подают следующие документы:</p>
<ul class="cc">
    <li class="cc">заявление (по форме Приложения 4);</li>
    <li class="cc">резюме (по форме Приложения 2);</li>
    <li class="cc">копии дипломов о высшем образовании, академической и ученой степени, <br> ученом звании и подлинники указанных документов для сверки;</li>
    <li class="cc">копии сертификатов о переподготовке и повышении квалификации <br>(при наличии) и подлинники для сверки;</li>
    <li class="cc">копии документов, подтверждающих трудовой стаж претендентов, <br> и подлинники для сверки;</li>
    <li class="cc">заверенный по месту работы список выполнявшихся научных проектов,<br> научных работ и изобретений за последние 3 года.</li>
</ul>

<ul class="ccc">
    <li><a href="assets/images/Kvalifikatsionnyie-trebovaniya--k-doljnostyam-PPS--2017-rtf.rtf">Квалификационные требования</a></li>
    <li><a href="assets/images/Rezyume.rtf">Форма резюме</a></li>
    <li><a href="assets/images/zayavlenie-rtf.rtf">Форма заявления</a></li>
    
</ul>
</div>

<p style="font-weight: 500;">Место проведения конкурса: Нефтяной корпус, каб. 316.</p>

<div class="table"><table border="1" cellpadding="0" cellspacing="0" width="0">
	<tbody>
		<tr>
			<td style="width:44px;">
			<p><strong>№</strong></p>
			</td>
			<td style="width:333px;">
			<p><strong>Институт (по кафедрам)</strong></p>
			</td>
			<td style="width:103px;">
			<p><strong>День аттестации</strong></p>
			</td>
			<td style="width:132px;">
			<p><strong>Приблиз. время начала аттестации*</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:44px;">
			<p>1</p>
			</td>
			<td style="width:333px;">
			<p class="para"><strong>Институт базового образования </strong></p>
			<p class="para">Кафедра общественных дисциплин</p>
			<p class="para">Кафедра Каз и рус языки</p>
			<p class="para">Кафедра Английского языка</p>
			<p class="para">Кафедра Физическая культура</p>
			</td>
			<td style="width:103px;">
			<p align="center">10 июня</p>
			</td>
			<td style="width:132px;">
			<p align="center">10:30</p>
			</td>
		</tr>
		<tr>
			<td style="width:44px;">
			<p>2</p>
			</td>
			<td style="width:333px;"  class="collapsible">
			<p class="para"><strong>Институт химических и биологических технологий </strong></p>
			<p class="para">Кафедра Химической ТОВ</p>
			<p class="para">Кафедра Химической ТНВ</p>
			<p class="para">Кафедра Биотехнология</p>
			</td>
			<td style="width:103px;">
			<p align="center">10 июня</p>
			</td>
			<td style="width:132px;">
			<p align="center">14:30</p>
			</td>
		</tr>
		<tr>
			<td style="width:44px;">
			<p>3</p>
			</td>
			<td style="width:333px;">
			<p class="para"><strong>Институт промышленной инженерии (1)</strong></p>
			<p class="para">Кафедра Индустриальная инженерия</p>
			<p class="para">Кафедра Прикладная М и ИГ</p>
			<p class="para">Кафедра Транспортная техника</p>
			<p class="para">Кафедра Робототехника и ТСА</p>
			<p class="para">Кафедра Инженерная физика</p>
			</td>
			<td style="width:103px;">
			<p align="center">11 июня</p>
			</td>
			<td style="width:132px;">
			<p align="center">10:00</p>
			</td>
		</tr>
		<tr>
			<td style="width:44px;">
			<p>4</p>
			</td>
			<td style="width:333px;">
			<p class="para"><strong>Институт управления проектами </strong>&nbsp;</p>
			<p class="para"><strong>НОЦ Математическая экономика</strong></p>
			</td>
			<td style="width:103px;">
			<p align="center">11 июня</p>
			</td>
			<td style="width:132px;">
			<p align="center">14:00</p>
			</td>
		</tr>
		<tr>
			<td style="width:44px;">
			<p>5</p>
			</td>
			<td style="width:333px;">
			<p class="para"><strong>ИВД </strong></p>
			</td>
			<td style="width:103px;">
			<p align="center">11 июня</p>
			</td>
			<td style="width:132px;">
			<p align="center">16:00</p>
			</td>
		</tr>
		<tr>
			<td style="width:44px;">
			<p>6</p>
			</td>
			<td style="width:333px;">
			<p class="para"><strong>Институт информационных и телекоммуникационных технологий </strong></p>
			<p class="para">Кафедра Математики</p>
			<p class="para">Кафедра Кибербезопасность ОиХИ</p>
			<p class="para">Кафедра Программной инженерии</p>
			<p class="para">Кафедра Электроники ТиКТ</p>
			<p class="para">Кафедра Автоматизации и управления</p>
			</td>
			<td style="width:103px;">
			<p align="center">12 июня</p>
			</td>
			<td style="width:132px;">
			<p align="center">10:00</p>
			</td>
		</tr>
		<tr>
			<td style="width:44px;">
			<p>&nbsp;</p>
			</td>
			<td style="width:333px;">
			<p><strong>НОЦМИК </strong></p>
			</td>
			<td style="width:103px;">
			<p align="center">12 июня</p>
			</td>
			<td style="width:132px;">
			<p align="center">14:00</p>
			</td>
		</tr>
		<tr>
			<td style="width:44px;">
			<p>7</p>
			</td>
			<td style="width:333px;">
			<p class="para"><strong>Институт архитектуры и строительства </strong></p>
			<p class="para">Кафедра Инженерные СиС</p>
			<p class="para">Кафедра Строительства и СМ</p>
			<p class="para">Кафедра Архитектуры</p>
			<p class="para">Кафедра Энергетики</p>
			</td>
			<td style="width:103px;">
			<p align="center">13 июня</p>
			</td>
			<td style="width:132px;">
			<p align="center">10:00</p>
			</td>
		</tr>
		<tr>
			<td style="width:44px;">
			<p>8</p>
			</td>
			<td style="width:333px;">
			<p class="para"><strong>Горно-металлургический институт </strong></p>
			<p class="para">Кафедра МД и геодезия</p>
			<p class="para">Кафедра Горное дело</p>
			<p class="para">Кафедра Технологические МиО</p>
			<p class="para">Кафедра Металлургические ПТиТСМ</p>
			<p class="para">Кафедра Металлургия и ОПИ</p>
			</td>
			<td style="width:103px;">
			<p align="center">13 июня</p>
			</td>
			<td style="width:132px;">
			<p align="center">14:00</p>
			</td>
		</tr>
		<tr>
			<td style="width:44px;">
			<p>10</p>
			</td>
			<td style="width:333px;">
			<p class="para"><strong>Институт геологии и нефтегазового дела </strong></p>
			<p class="para">Кафедра Геологической СПиРМПИ</p>
			<p class="para">Кафедра Геофизики</p>
			<p class="para">Кафедра Геологии нефти и газа</p>
			<p class="para">Кафедра Нефтяная инженерия</p>
			</td>
			<td style="width:103px;">
			<p align="center">17 июня</p>
			</td>
			<td style="width:132px;">
			<p align="center">10:00</p>
			</td>
		</tr>
	</tbody>
</table></div>
<p>*Время начала конкурса может быть изменено</p>


