table.table-striped tbody tr {
    background-color: #ffffff;
}
table.table-striped tbody tr:hover {
    background-color: #f0f0f0
}

td, th {
    text-align: center;
}

thead{
    background-color: #2c4d9e;
    color: white;
    border-style: none;
}

th:first-child{
    border-radius: 25px 0 0px 25px;
}
th:last-child{
    border-radius: 0 25px 25px 0;
}

.filterbtn{
    background-color: #2c4d9e;
}
.filterbtn:hover{
    color: white;
}

.grey{
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
}
.grey:hover{
    color: white;
}

.center{
    margin-right:300px;
    font-size: 30px;
    font-weight: 500;
}

.filter{
    display: flex;
    align-items:center;
    widows: 100px;
    margin-bottom: 1rem;
    height: 30px;
}

.filter input{
    width: 50%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 0 .5rem;
}

.card{
    width: 250px;
    height: 250px;
}
.card-title{
    font-weight: 500;
}
.card-body{
    background-color: #112e75;
    color: white;
}
.btt{
    background-color: #112e75;
    border-radius: 50px;
}
.center{
    margin-left: 250px;
}

.refresh{
    margin-top: 2px;
    margin-left: -750px;
    cursor: pointer;
    color: #112e75;
}
.btnn{
    margin-left: -200px;
}
div .center .mb2{
    width: 400;
    margin-right: 100px;
}