<div class="row">
    <div class="col-sm-3" *ngFor="let vote of votes">
        <div class="card" >
          <div class="card-body" style="padding-bottom: 5px;">
            <h5 class="card-title">{{vote.name}} {{vote.surname}}</h5>
          </div>
          <div class="card-body" style="padding-top: 5px;">
              <p class="card-text" style="margin-bottom: 5px;">Дата: {{vote.date | date:'dd.MM.yyyy'}}</p>
              <p class="card-text">Время: {{vote.date | date:'HH:mm'}}</p>
          </div>
          <div class="card-action">
              <a [routerLink]="['/votecommission', vote._id]" class="btn btn-primary btt">Голосовать</a>
          </div>
        </div>
    </div>
    </div>