.stats {
    display: flex;
    margin-top: 30px;
    .stat {
      flex: 1;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
      margin: 0 15px;
      background: rgba(0, 0, 0, 0.05);
      .header {
        background: #1565c0;
        padding: 10px 5px;
        p {
          color: white;
          font-size: 12px;
          margin: 0;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: -.4px;
          text-align: center;
        }
      }
      .body {
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
          text-align: center;
          font-size: 30px;
          font-weight: 300;
          opacity: 0.8;
        }
        .percent{
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }

.input-field {
  margin: 0;
}
.card-content{
  padding-bottom: 0;
}
.card{
  margin-top: 10px;
}
.sss{
  margin-bottom: 20px;
}
